

/*Sticky Footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.background {
	padding: 10px;
}
/*nerijaus stilius*/

/*.card .card-image img.jpg {
	width: 100%;
}
*/
 /* nerijaus stiliaus pabaiga*/