 /*Sticky Footer*/

 body {
 	display: flex;
 	min-height: 100vh;
 	flex-direction: column;
 }

 main {
 	flex: 1 0 auto;
 }

 .background {
 	padding: 10px;
 }

 /*edgaro stiliai*/

 .pav1 {
 	width: 70%;
 }

 .pav2 {
 	width: 10%;
 }

 /*edgaro stiliu pabaiga*/

 .infotext {
 	font-size: 20px;
 }
 /*vytautas*/

 .planetSelect {
 	position: relative;
 }

 .planets1{
 	width: 100%;
 }
 .marsBut{
 	position: absolute;
 	top: 45%;
 	left: 40.7%;
 	width: 8%;
 	height: 9%;
 	/*background-color: red;*/
 	transform: translate(-50%, -50%);
 }
 .moonBut{
 	position: absolute;
 	top: 49%;
 	left: 29.5%;
 	width: 5%;
 	height: 7%;
 	/*background-color: red;*/
 	transform: translate(-50%, -50%);
 }
 .venusBut{
 	position: absolute;
 	top: 64%;
 	left: 28.5%;
 	width: 10%;
 	height: 11%;
 	/*background-color: red;*/
 	transform: translate(-50%, -50%);
 }
 .mercuryBut{
 	position: absolute;
 	top: 73%;
 	left: 21.5%;
 	width: 10%;
 	height: 10%;
 	/*background-color: red;*/
 	transform: translate(-50%, -50%);
 }
 .jupiterBut{
 	position: absolute;
 	top: 47%;
 	left: 52.5%;
 	width: 13%;
 	height: 18%;
 	/*background-color: red;*/
 	transform: translate(-50%, -50%);
 }
 .saturnBut{
 	position: absolute;
 	top: 36%;
 	left: 65.5%;
 	width: 13%;
 	height: 19%;
 	/*background-color: red;*/
 	transform: translate(-50%, -50%);
 }
 .uranusBut{
 	position: absolute;
 	top: 24%;
 	left: 78.5%;
 	width: 13%;
 	height: 10%;
 	/*background-color: red;*/
 	transform: translate(-50%, -50%);
 }
 .neptuneBut{
 	position: absolute;
 	top: 12%;
 	left: 88%;
 	width: 15%;
 	height: 10%;
 	/*background-color: red;*/
 	transform: translate(-50%, -50%);
 }
 .logo{
 	/*width: 4.6rem;*/
 	height: 100%;
 	padding: 4px; 
 }
 .plutoBut{
 	position: absolute;
 	top: 3%;
 	left: 92.5%;
 	width: 8%;
 	height: 6%;
 	/*background-color: red;*/
 	transform: translate(-50%, -50%);
 }
 .quickTripBut{
 	position: absolute;
 	top: 0%;
 	left: 0%;
 	width: 100%;
 	height: 100%;
 	/*background-color: red;*/
 }
 .planet.modal{
 	width: 24rem;
 }
 .unikalu {
 	display: flex;
 	align-items: stretch;
 	flex-wrap: wrap;
    margin-bottom: auto;
 }

 .tabs .tab a:focus, .tabs .tab a:focus.active {
 	background-color: rgba(255, 152, 0, 0.18);
 }

.tabs .indicator {
    background-color: #ff9800;
    }

.input-field>label {
    color: #212121;
}

.breadcrumb {
    color: #616161;
    font-size: 14px;
}

.breadcrumb:before {
	color: #ff6d00;
    font-size: 14px;
    vertical-align: bottom;
}

.breadcrumb:last-child {
    color: #212121;
}

.breadalign {
    margin-top: 10px;
    margin-bottom: 10px;
}


input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ff6d00;
    -webkit-box-shadow: 0 1px 0 0 #ff6d00;
    box-shadow: 0 1px 0 0 #ff6d00;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #ff6d00;
}

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #212121;
    -webkit-box-shadow: 0 1px 0 0 #212121;
    box-shadow: 0 1px 0 0 #212121;
}

.carousel .carousel-item {
    width: 300px;
    height: 300px;
}

.journeycard {
    width: 300px;
    height: 200px;
}

.personimg {
    padding: 10px;
}


.card {
    height: inherit;
    overflow: hidden;
}

a {
    color: #ff5722;
}

.m {
 	position: absolute;
 	top: 0%;
 	left: 0%;
 	width: 100%;
 	height: 100%;
 	/*background-color: red;*/
 	/*transform: translate(-50%, -50%);*/
 }

 h1, h2, h3, h4, h5, h6, a, li, label {
    /*font-family: 'Audiowide';*/
    font-family: 'Orbitron', sans-serif;
}

.card-title {
    font-family: 'Orbitron', sans-serif;
}

p {
    font-family: 'Orbitron';
    font-stretch: semi-expanded;
}

.progress .indeterminate {
    background-color: #dd2c00;
}

.progress {
    background-color: rgba(255, 152, 0, 0.18);
}

#test3 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.datepicker-date-display {
    background-color: #ff6d00;
}

.datepicker-table td.is-today {
    color: #ff6d00;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #ff6d00;
}

.datepicker-table td.is-selected {
    background-color: #ff6d00;
}

#chartContainer {
    margin-top: 40px;
    margin-bottom: 40px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: auto;
    width: auto;
}

.socialmedia-img {
    padding-left: 50px;
    padding-right: 50px;
}

.card.small {
    height: 200px;
}

.tabsstyle.tabs {
    height: auto;
    white-space: initial; 
}

.tabsstyle.tabs .tab {
    line-height: 24px; 
    height: auto; 
}

.tabsstyle.tabs .tab a {
     text-overflow: initial; 
     overflow: initial;
 }
